/* Base Styles */
:root{
    --primaryColor: rgb(236, 65, 65);
    --colorTrim: #da1a1a;
    --neutralDark: #2d2d2d;
    --neutralLight: #fff;
    --greytext: #d4d4d4;
}

html{
    font-size: 10px;
}

body,
h1,h2,h3{
    margin: 0;
    padding: 0;
}
body{ 
    font-size: 1.6rem;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #232323;
    box-sizing: border-box;
}

h1{
    font-size: 4rem;
    font-weight: 300;
    margin: 1.5rem 0;
}

h2{
    font-size: 3rem;
    font-weight: 300;
    margin: 1.5rem 0;
}

h3{
    font-size: 2rem;
    font-weight: 300;
    margin: 1.5rem 0;
}

button{
    display: block;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background-color: transparent;
    transition: background-color 0.5s ease-in;
}

button:hover{
    background-color: var(--primaryColor);
}

.center{
    margin: 0 auto;
}

p{
    line-height: 2.8rem;
}


div{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.greyCtnBkg{
    background-color: #303030;
}

.redCtnBkg{
    background-color: var(--primaryColor);
}

.text-center{
    text-align: center;
}

.grey-text{
    color: var(--greytext);
}

.primary{
    color: var(--primaryColor);
}

.white{
    color: var(--neutralLight);
}

.pnone{
    padding: 0;
}

.mb-1{margin: 0 0 1rem;}
.mt-5{margin-top: 5rem;}
.mb-5{margin-bottom: 5rem;}
.my-5{margin: 5rem 0;}

.p-1{padding: 1.5rem;}
.py-3{padding: 3rem 0;}

.outline-primary{
    border: 1px solid var(--primaryColor);
    color: var(--neutralLight);
    padding: 1rem 3rem;
    margin: 2rem auto;
}


/* Header Starts Here */
#headerWrapper{
    background: url('https://uploads-ssl.webflow.com/5e83abddf847f46973667198/5ea82806c81001d0abdf94b0_typing-student-small.jpg') no-repeat center center/cover;
    height: 650px;
    box-shadow: 0 4px 5px -2px gray;
}

#topbar{
    background-color: rgba(0, 0, 0, .3);
    color: var(--neutralLight);
    text-transform: uppercase;
}


#topbar{
    padding: 1rem 0;
}

#topbar header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topbar a{
    color: var(--neutralLight);
    padding: 1rem;
}

#topbar a:hover{
    background-color: var(--primaryColor);
    color:  var(--neutralLight);
    padding: 1rem;
}

#branding{
    font-size: 2.5rem;
}

#branding span{
    color: var(--primaryColor);
}

#mobileNav{
    padding: .5rem;
}

#mobileNav .bar{
    border: 1px solid var(--neutralLight);
    margin-top: .5rem;
    width: 2.5rem;
}

#mobileNav .bar:first-child{
    margin-top: 0;
}

#heroArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    text-align: center;
    text-transform: uppercase;
}

#heroArea h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    margin-top: -15rem;
    margin-bottom: 0;
    text-shadow: 2px 2px 3px #000;
}

#heroArea h1 span.part1{
    color: #2d2d2d;
    font-size: 6rem;
    text-shadow: 2px 2px 1px #2d2d2d;
}

#heroArea h1 span.part2{
    color: var(--primaryColor);
    font-size: 6rem;
    text-shadow: none;
    text-shadow: 2px 2px 1px #2d2d2d;
}

#heroArea p{
    margin: 0;
    color: #fff;
    font-size: 1.8rem;
    text-shadow: 2px 2px 3px #000;
    letter-spacing: .3rem;
}
/* Header Ends Here */

/* Quick Info Section */
#quickInfo{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primaryColor);
    background-color: #fff;
    min-height: 220px;
    margin: -15rem 0 3rem 0;
}

.quickInfoCol{
    flex: 1;
}

.quickInfoCol h3{
    font-weight: 300;
    background-color:var(--primaryColor);
    border: 1px solid var(--colorTrim);
    margin: 0;
    padding: 1.5rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.quickInfoCol img{
    align-self: center;
    border: .3rem solid var(--neutralDark);
    border-radius: 50%;
    float: left;
    margin: 1.5rem;
}

.quickInfoCol ul{
    list-style: none;
}

.quickInfoCol li{
    margin-bottom: 1rem;
}

.quickInfoCol li a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--neutralDark);
}

.quickInfoCol li a:hover{
    text-decoration: underline;
}

.quickInfoCol li a > i,
.workcard li > i{
    margin-right: .5rem;
    font-size: 2rem;
    color: #fff;
    border-radius: 3px;
    background-color: var(--primaryColor);
    padding: .5rem .7rem;
}

.dualList{
    display: flex;
    justify-content: space-around;
}

#works{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.workcard{
    background-color: var(--neutralLight);
    border: 2px solid #2d2d2d;
    padding: 0;
    margin: 0;
    width: 275px;
    overflow: hidden;
    align-items: center;
    margin: 0 auto 1.5rem;
}

.wprkcard img{
    width: 100%;
}

.workcard h3{
    margin: -.5rem;
}

.workcard ul{
    list-style: none;
    color: var(--neutralDark);
    margin: 0;
    padding:1.5rem 0 1.5rem 2rem;
}

.workcard li a{
    text-decoration: none;
    color: var(--neutralDark);
}

.workcard li a:hover{
    color: var(--primaryColor);
}


/* Footer Starts Here */
footer hr{
    margin-top: 1rem;
    width: 85%;
    border-top: .2rem solid#2d2d2d;
}



footer p{
    color: var(--neutralLight);
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}

footer p span{
    color: var(--primaryColor);
}

@media(max-width: 592px){
    #mainNav{
        display: none;
    }
}


@media(min-width: 592px){
    #mobileNav{display: none;}
    #mainNav ul{
        display: flex;
        list-style: none;
    }
    
    #mainNav li a{
        text-decoration: none;
    }
    
    #quickInfo{
        display: flex;
        flex-direction: row;
    }
}

 @media(min-width: 767px){
    #works{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .workcard{
        background-color: var(--neutralLight);
        border: 2px solid #2d2d2d;
        padding: 0;
        margin: 0;
        width: 275px;
        overflow: hidden;
        align-items: center;
        margin: 0 auto;
    }
}